{% extends 'basefront.html.twig' %}
{% block title %} Votre panier{% endblock %}


{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

         <table class="table">
            <thead>
                <tr>
                    <th >&nbsp;</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Total</th>
                    <th>Annuler</th>
                      
                </tr>
            </thead>
            <tbody>
                {% if app.session.get('cart') %}
                {% for element in cart.products %}
                    <tr>
                        <td><a href="#"><img src="/assets/uploads/products/{{element.product.image}}"></a></td>
                        <td>{{element.product.Nom}}</td>
                        <td>{{element.product.prix}}DT</td>
                        <td class="product-quantity" data-title="Quantity"><div class="quantity">
                                        <a href="{{ path('cartDelete', {'id':element.product.id})}}" type="button" class="btn btn-warning"  value="-" class="minus"> - </a>
                                        <input type="text" name="quantity" value="{{element.quantity}}" title="Qty"  size="5">
                                        <a href="{{ path('cartAdd2', {'id':element.product.id})}}" type="button" class="btn btn-success" value="+" class="plus"> + </a>
                                        </div></td>

                        <td>{{ element.quantity * element.product.prix }}DT </td>

                        <td class="btn btn-danger"> 
                            <a href="{{ path('cartDeleteAll', {'id':element.product.id})}}"> Annuler
                        </td>
                    </tr>
                {% endfor %}

                {% else %}
        <h2>Surprise ! C'est vide !</h2>
         <tr>   
                <th colspan="5" class="text-right"> 
                <button  class="btn btn-primary" ><a href="{{ path('app')}}">Continuer Votre Shopping </a></button>
                </th>
                </tr>
                {% endif %}
                </tbody>
                  <tfoot>
                                <tr>
                                    <th >&nbsp;</th>
                                    <th >Produit</th>
                                    <th >Prix</th>
                                    <th >Quantite</th>
                                    <th >Total</th>
                                    <th >Annuler</th>
                                </tr>
                            </tfoot>
                             </table>
                            <p><a class="btn btn-fill-out" href="{{ path('app')}}">Continuer Votre Shopping</a></p>
      
       <div class="row">
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Panier Totaux</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Panier Sous total HT</td>
                                        <td class="cart_total_amount">{{ cart.data.subTotalHT}}DT</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Taxe (20%) </td>
                                        <td class="cart_total_amount">{{ cart.data.Taxe }}DT</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Total TTC</td>
                                        <td class="cart_total_amount"><strong>{{ cart.data.subTotalTTC  }}DT</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="#" class="btn btn-fill-out">Valider votre commande</a>
                    </div>
                  </div>
              </div>
         </div>
      </div>
       
      
   

{% endblock %}
