{% extends 'baseBack.html.twig' %}
{% block title %} E-fit Admin Commande {% endblock %}
{% block body%} 

<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <p class="card-description"> table<code>des types</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Liste des produits</th>
                            <th>ID de client</th>
                            <th>Montant</th>
                            <th>Date de creation</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                             <tfoot>
                        <tr>
                            <th>Reference</th>
                            <th>Liste des produits</th>
                            <th>ID de client</th>
                            <th>Montant</th>
                            <th>Date de creation</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>

                        <tbody>
                      {% for i in data %}
<tr>
 <td>{{ i.id }}</td>
 <td> {% for a in  i.getCommandeProduits().toArray() %}
    <div>{{ a.getProduit().quantite}} x {{ a.getProduit().nom}} | {{ a.getProduit().prix}}.00DT</div>
     {% endfor %} </td>
<td>{{ i.utilisateur.id}}</td>
 <td>{{ i.montant }}.00DT</td>
<td>{{ i.getDateCreation().format('j-m-y') }}</td>
  <td>{{ i.status }}</td>
  <td><a href="{{ path('updateCommande',{'idP': i.id }) }}" class="btn btn-warning btn-circle">
                                    <i class="fas fa-pen">Modifier</i>
                                </a></td>

</tr>
{%endfor%}
</tbody>
    </table >
                    </div>
                  </div>
                </div>
{% endblock %} 