{% extends 'basefront.html.twig' %}
{% block title %}Participant{% endblock %}

{% block body %}
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
                        
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
                            
							  {{ form_start(formParticipant , {'attr': {'novalidate':'novalidate'}} ) }}
                    <form class="forms-sample">
                      <div class="form-group">
                        {{ form_row(formParticipant.nom, {'label':'Votre nom' ,'attr':{'placeholder': 'nom...', 'class':'form-control'}}) }}</div>
                        <div class="form-group">
                        {{ form_row(formParticipant.prenom, {'label':'Votre prenom' ,'attr':{'placeholder': 'prenom...', 'class':'form-control'}}) }}</div>
					
						<div class="form-group">
                        {{ form_row(formParticipant.email, {'label':'Votre email' ,'attr':{'placeholder': 'email...', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(formParticipant.age, {'label':'Age' ,'attr':{'placeholder': 'age...', 'class':'form-control'}}) }}</div>

                        <div class="form-group">
                        {{ form_row(formParticipant.tel, {'label':'tel' ,'attr':{'placeholder': 'tel...', 'class':'form-control'}}) }}</div>
					
                      <button type="click here" class="btn btn-primary mr-2" >Participer</button>
                       {{form_end(formParticipant)}}
                    </form>
                     
							<div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="create-account">
									<label for="create-account">
										<span></span>
										Create Account?
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
										<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div>
							</div>
						</div>
                      
						<!-- /Billing Details -->
              </div>
              </div>
              </div>
              </div>
            {% endblock %}


{% block footer %}

{% endblock %}            