{% extends 'baseback.html.twig' %}

{% block title %}E-FIT!{% endblock %}

{% block body %}

<div class="panel-header panel-header-sm">
            </div>
            <div class="content">

                <div class="row">

                    <div class="col-md-12">
                                                                                            

                        <div class="card">
                            <div class="card-header">

                                <h4 class="card-title"> Simple Table</h4>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">

                                    <table class="table table-hover" >

                                        <thead class=" text-primary">

                                        <th  class="border border-success">  identifiant </th>
                          
                            <th   class="border border-primary">Nom Participant </th>
                            <th class="border border-secondary">prenom Participant </th>
                            <th class="border border-success">Email Participant </th>
                            <th class="border border-primary">  age</th>
                             <th class="border border-success">  tel</th>
                                            
                                            
                                             
                                        </thead>

                                        <tbody>
                                                      {% for i in Participant %}

                                            <tr>
                                                <td>
                                                    {{i.ID}}
                                                </td>
                                                <td>
                                                   {{i.nom}}
                                                </td>
                                                <td>
                                                   {{i.prenom}}
                                                </td>
                                                <td>
                                                    {{ i.email }}
                                                </td>
                                              <td>
                                                    {{i.age}}
                                                </td>
                                                <td>
                                                   {{i.tel}}
                                                </td>
                                                 
                                                 <td>
                                                <a class="btn btn-danger" href="{{ path('delete5', {id:i.ID}) }}">supprimer </a>
                                                    
                                                </td>
                                                 
                                            </tr>
                                           {% endfor%}
                                           
                                         <td> <a class="nav-link btn btn-success create-new-button"  href="/Evenement/add1">Ajouter evenement </a></td>
                          <td> <a class="nav-link btn btn-success create-new-button"  href="/Participant/add"> ajouter Sponsor </a> </td>
                          <td> <a class="nav-link btn btn-success create-new-button"  href="/Evenement/afficher"> Retour</a> </td>
                        </tbody>

                                    </table>
                                   <ul>
                   <i class="mdi mdi-playlist-play"><a href="{{ path('order_By_Nom')}}">Trie par Nom</a></i>   
                     
                        
                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                           
                            
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}