{% extends 'baseEmna.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block topheader %}
{% include 'test.html.twig' %}

{% endblock %}




{% block body %}

<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
                    
<div class="row">
					<div class="col-md-8">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Ajouter reclamation</h3>
							</div>
                            {{ form_start(form2 , {'attr': {'novalidate':'novalidate'}} ) }}
							
                                {{ form_row(form2.TitreR, {'label':'Titre','attr':{'placeholder': 'Titre ...','class':'input'}})}}
							
							
							
								{{ form_row(form2.genre , {'label':'Type','attr':{'placeholder':'Type ...' , 'class':'input'}})}}
							
							
								{{ form_row(form2.DescriptionR , {'label':'Description','attr':{'placeholder': 'Description ...','class':'input'}})}}
							
							
							
					       <button type="submit" class="primary-btn order-submit"  >reclamer</button>
						   <a href="/affichreclamation2" class="primary-btn2 order-submit"  >Afficher reclamation</a>
                           
						   {{ form_end(form2) }}
						</div>
					
             </div>
             </div>
             </div>
			 </div>

					<!-- Order Details -->

{% endblock %}

