{% extends 'basefront.html.twig' %}

{% block title %}Rendez_Vous{% endblock %}

{% block body %}
<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
                    <div class="row">

					<div class="col-md-17">
                <div class="card">
                  <div class="card-body">
                 <p class="card-description" > Ajouter Rendez_vous <code> <a href="{{ path('addrdv') }}" class="primary-btn" >Ajouter</a> </code>

                    <h4 class="card-title">Table des Rendez_Vous</h4>

                    
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Cours</th>
                            <th>Date</th>
                             <th>Modifier-rendez-vous</th>
                              <th>Annuler rendez-vous</th>
                           
                            
                          </tr>
                        </thead>
                        <tbody>
                        {% for a in rdv %}
                          <tr>
                          
                           
                          
                            <td> {{a.Coachings  }} </td>
                            <td> {{a.daterdv.format('j-m-y') }} </td>
                            <td><a href="{{ path('updaterdv', {id:a.id}) }}" class="primary-btn" >Modifier</a></td>
                            <td><a href="{{ path('deleterdv', {id:a.id}) }}" class="primary-btn" >Annuler</a></td>
 </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                 </div>
                  </div>
                </div>
           


{% endblock %}