{% extends 'basefront.html.twig' %}

{% block title %}Produit{% endblock %}
{% block topheader %}
{% include 'test.html.twig' %}

{% endblock %}

{% block body %}
<!-- SECTION -->

<form method="get" action="{{ path('app') }}">
        <label for="min_price">Minimum Price:</label>
        <input type="number" name="min_price" id="min_price" value="{{ app.request.query.get('min_price') }}">
        <br>

        <label for="max_price">Maximum Price:</label>
        <input type="number" name="max_price" id="max_price" value="{{ app.request.query.get('max_price') }}">
        <br>

        <button type="submit">Filter</button>
    </form>







		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Notre produits|  <a href="{{ path('affichercat') }}">Catégorie</a></h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1"></a></li>
									<li><a data-toggle="tab" href="#tab1">Appareils</a></li>
									<li><a data-toggle="tab" href="#tab1">Accessoires</a></li>
									<li><a data-toggle="tab" href="#tab1">Vêtement</a></li>
								</ul>
							</div>
							</div>
					</div>
			</div>
		</div>
		</div>


					<!-- /section title -->






					<!-- Products tab & slick -->

<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					{% for a in articles %}
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{asset('/uploads/produits/'~a.Image)}}" alt="">
							</div>
							<div class="shop-body">
								<h3>{{a.Nom }}</h3>
								<h3>{{a.Prix }}</h3>
								<a href="{{ path('detailP' ,{id:a.id}) }}" class="cta-btn">detaille <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
					{% endfor %}

					










					</div>
			</div>
			
					
</div>
		
{% endblock %}



