{% extends 'basefront.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Notre produits</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1"></a></li>
									<li><a data-toggle="tab" href="#tab1">Appareils</a></li>
									<li><a data-toggle="tab" href="#tab1">Accessoires</a></li>
									<li><a data-toggle="tab" href="#tab1">Vêtement</a></li>
								</ul>
							</div>
							</div>
					</div>

					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
									{% for a in Produit %}
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{{asset('/uploads/produits/'~a.Image)}}" alt="">
												<div class="product-label">
													
												</div>
											</div>
											<div class="product-body">
											<h4 class="product-price">{{a.Nom }}</h4>
											<h3 class="product-name">Description : {{a.Description}}</h3>
											<h3 class="product-name">Prix : {{a.Prix}}</h3>
											<h3 class="product-price">Categorie : {{a.Categorys}}</h3>
												
												
											<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> ajouter au panier</button>
											</div>
										</div>
										<a href="{{ path('detaille' ,{id:a.id}) }}" class="primary-btn f-btn">Read More</a>
									{% endfor %}
									<ul class="pagination">
                  <li class="{{(page == 1) ? 'disabled' : ''}}">
                  <a href="?page = 1">
                  <i class="fass fa-step-backward"></i>
                  </a>
                  </li>
                  <li class="{{(page == 1) ? 'disabled' : ''}}">
                  <a href="{{ (page > 1)  ? '?page=1' ~ (page - 1) : '' }} ">
                    <i class="fass fa-angle-left"></i>
                  </a>

                  </li>
                  {% set pages = (total / limit)| round(0, 'ceil')%}
                  {% for item in 1..pages%}

                  <li class="{{ (page == item) ? 'active' : '' }}">
                 <a href="?page={{item}}">{{item}}</a>
                 </li>
                  {% endfor%}
                  <li class="{{(page == pages) ? 'disabled' : ''}}">
                  <a href="{{ (page < pages)  ? '?page=' ~ (page + 1) : '' }} ">
                    <i class="fass fa-angle-right"></i>
                  </a>

                  </li>
                  </ul>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

		<br>
{% endblock %}

{% block footer %}

{% endblock %}

