{% extends 'basefront.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
	
<!-- section title -->
	<div class="col-md-12">
						<div class="section-title">
							<h3 class="title"> Evenement De Jour Bonjour  </h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									
								</ul>
							</div>
						</div>
					</div>
 <!-- section title -->



            
<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="section-nav">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
									
                    {% for i in result %}
										<div class="product">
											<div class="product-img">
												<img src="{{ asset('/uploads/brochures/'~i.Image) }}" alt="" width="300px" height="400px">

												<div class="product-label">
													
												</div>
											</div>
                     
											<div class="product-body">
												<h1 style="color: darkorange">{{i.Nom}}</h1>
												<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										 <i class="fa fa-eye"></i>
										<h5><span>Details</span></h5>
										
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											
												
												<div class="product-body">
													<h3 class="fa fa-map-marker"  class="product-name" > {{i.lieu}} </h3>
													<h5 style="color: darkorange">{{i.Description}}</h5>
												</div>
												
											

											
												<div class="product-body">
												<small>Date debut :</small>
													<h3 class="product-name">{{ i.Datedebut|date('Y-m-d') }}</h3>
												<small>Date Fin:</small>	
													<h2 class="product-name">{{ i.Datefin|date('Y-m-d') }}</h2>
												<small>Type:</small>
													<h4 class="product-price">{{i.Type}}</h4>
												</div>
												
										
								</div>
								<!-- /Cart -->

                        <h3 class="product-name"><p class="product-category">Notre Sponsor :</p>{{i.Sponsors}}</h3>
												<div class="product-rating">
													
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													
							                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
										
											</div>
										
                  {% endfor %}
				  
				  
				 
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
								
							</div>
						</div>
						<div  >{{ knp_pagination_render(result) }}
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
  
 <div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							
							<form>
							
                  <button class="newsletter-btn"><a href="/Participant/add" >  Participer Maintenant</a></button>

                  <input type="text" class="input" id="search"  placeholder="chercher">

							</form>
							
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
			</div>
				<!-- /row -->
			

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
 $(document).ready(function(){
    $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("table tr").each(function() {
            if ($(this).text().toLowerCase().indexOf(value) > -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
});

</script>


{% endblock %}


{% block footer %}

{% endblock %}



