{% extends 'basefront.html.twig' %}

{% block title %}Evenement{% endblock %}
{% block topheader %}
{% include 'test.html.twig' %}

{% endblock %}


{% block body %}
		
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{ asset('/uploads/brochures/'~Evenement.Image) }}" alt="image"  width = "50%">
							</div>

							<div class="product-preview">
							</div>

							<div class="product-preview">
							</div>

							<div class="product-preview">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
							</div>

							<div class="product-preview">
							</div>

							<div class="product-preview">
							</div>

							<div class="product-preview">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{Evenement.Nom}}</h2>
							
								
							</div>
							<div>
								<h3 class="product-price" >{{Evenement.Type}}</h3>
								<span class="product-available">Join Us</span>
							</div>
							<p>{{Evenement.description}}</p>

							 <h4 class="order-total">Date debut : {{Evenement.Datedebut|date('Y-m-d')}}</h4>
							   <h4 class="order-total">Date Fin : {{Evenement.Datefin|date('Y-m-d')}}</h4>
							   <h4 class="fa fa-map-marker">  {{Evenement.lieu}}</h4>
							   <h3 class="order-total">Nombre de Participant : {{Evenement.nbParticipant}}</h3>
							   <h5 class="order-total">Notre Sponsors: {{Evenement.Sponsors}}</h5>

							
 
                              <h5 class="order-total">Prix Evenement: {{Evenement.Prix}}DT</h5>

							
								<div class="product-options">
							<label>
									

							<form method="POST" action="{{ path('like', {'id': Evenement.id}) }}">
                <button type="submit" name="like"  class="btn btn-outline-primary">Like ({{ Evenement.likeButton }})</button>

            </form>									
								</label>
								<label>
									<form method="POST" action="{{ path('dislike', {'id': Evenement.id}) }}">
        <button type="submit" name="dislike" class="btn btn-outline-danger"> Dislike  ({{ Evenement.dislikeButton }})</button></form>
								</label>
							</div>

							

							
			<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							
							<form>
							
                  <button class="newsletter-btn"><a href="/Evenement/afficher" >  Routour a la page principale </a></button>

                  

							</form>
							
						</div>
					</div>
				</div>
						</div>
					</div>
						
						

						
</div>
						</div>
					</div>
					<!-- /Product details -->
{% endblock %}
{% block footer %}
{% endblock %}


					