{% extends 'basefront.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
	
<!-- section title -->
	<div class="col-md-12">
						<div class="section-title">
							<h3 class="title"> Evenement De cette Saison </h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									
								</ul>
							</div>
						</div>
					</div>
 <!-- section title -->



            
<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="section-nav">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
									
                    {% for i in Evenement %}
										<div class="product">
											<div class="product-img">
												<img  src="{{ asset('/uploads/brochures/'~i.Image) }}" alt="">
												<div class="product-label">
													
												</div>
											</div>
                     
											<div class="product-body">
												<h4 class="product-price"> {{i.Nom}} </h4>
												<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										 <i class="fa-sharp fa-regular fa-arrow-down"></i>
										<span>Details</span>
										
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="{{asset('./img/product01.png')}}" alt="">
												</div>
												<div class="product-body">
													<h3 class="fa fa-map-marker"  class="product-name" > {{i.lieu}} </h3>
													<p class="product-price">{{i.Description}}</p>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="{{asset('./img/product02.png')}}" alt="">
												</div>
												<div class="product-body">
												<small>Date debut :</small>
													<h3 class="product-name">{{ i.Datedebut|date('Y-m-d') }}</h3>
												<small>Date Fin:</small>	
													<h2 class="product-name">{{ i.Datefin|date('Y-m-d') }}</h2>
													<h4 class="product-price">{{i.Type}}</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										
										
									</div>
								</div>
								<!-- /Cart -->

                        <h3 class="product-name"><p class="product-category">Notre Sponsor :</p>{{i.Sponsors}}</h3>
												<div class="product-rating">
													
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													
							                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn" > <a href="/Participant/add"  > Participer maintenant </a></button>
											</div>
										</div>
                  {% endfor %}
				  
				 
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
  
       
                          
                   
     



{% endblock %}


{% block footer %}

{% endblock %}



