{% extends 'baseback.html.twig' %}

{% block body %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            {% for message in app.flashes('danger') %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <p class="card-description"> table<code>des types</code></p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Nom Event</th>
                            <th>Date debut</th>
                            <th>Date fin</th>
                            <th>Image</th>
                            <th>Lieu</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Nombre Participant</th>
                            <th>Sponsor</th>
                            <th>Liste Participants</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Evenement %}
                            <tr>
                                <td>{{ i.ID }}</td>
                                <td>{{ i.Nom }}</td>
                                <td>{{ i.DateDebut|date('Y-m-d ') }}</td>
                                <td>{{ i.DateFin|date('Y-m-d ') }}</td>
                                <td><img src="{{ asset('/uploads/brochures/' ~ i.Image) }}?t={{ date().getTimestamp() }}" alt="image" width="10%"></td>
                                <td>{{ i.Lieu }}</td>
                                <td>{{ i.Description }}</td>
                                <td>{{ i.Type }}</td>
                                
                                 <td>{{ i.nbParticipant}}</td>
                                 <td>{{ i.Sponsors }}</td>
                                <td>
                                    {% for a in i.getParticipants().toArray() %} 
                                        {{ a.nom }} 
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('deleteEvenement', {id: i.ID}) }}" class="btn btn-danger">supprimer</a>
                                </td>
                                <td>
                                    <a href="{{ path('updateEvenement', {id: i.ID}) }}" class="btn btn-success">mettre a jour</a>
                                </td>
                            </tr>
                        {% endfor %}
                              </tbody>
                
                           <td> <a class="nav-link btn btn-success create-new-button"  href="/Evenement/add1">Ajouter evenement </a></td>
                          <td> <a class="nav-link btn btn-success create-new-button"  href="/Participant/add"> ajouter Participant </a> </td>
                          <td> <a class="nav-link btn btn-success create-new-button"  href="/Evenement/afficher"> Routour</a> </td>
                       
                 </table>
                
                    <button type="button" class="btn btn-outline-danger">Trie</button>
                    <ul>
                        <li><a href="{{ path('order_By_Nom')}}">Trie par Nom</a></li>
                        <li><a href="{{ path('order_By_type')}}">Trie par type</a></li>
                        
                    </ul>
                </li>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}
