{% extends 'baseback.html.twig' %}

{% block body %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
         <div class="panel-header panel-header-sm">
            </div>
            <div class="content">

                <div class="row">

                    <div class="col-md-12">
                                                                                            

                        <div class="card">
                            <div class="card-header">

                                <h4 class="card-title"> Simple Table</h4>
                                {% for message in app.flashes('danger') %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">

                                    <table class="table table-hover" >

                                        <thead class=" text-primary">
                        <tr>
                            <th class="border border-primary">Identifiant</th>
                            <th class="border border-secondary">Nom Event</th>
                            <th  class="border border-success">Date debut</th>
                            <th class="border border-danger">Date fin</th>
                            <th class="border border-warning">Image</th>
                            <th class="border border-info">Lieu</th>
                            <th  class="border border-light">Description</th>
                            <th class="border border-primary" >Type</th>
                            <th  class="border border-white">Prix</th>
                            <th class="border border-primary" >Nombre Participant</th>
                            <th class="border border-danger">Sponsor</th>
                            <th class="border border-primary" >Liste Participants</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Evenement %}
                            <tr>
                                <td  >{{ i.ID }}</td>
                                <td >{{ i.Nom }}</td>
                                <td>{{ i.DateDebut|date('Y-m-d ') }}</td>
                                <td>{{ i.DateFin|date('Y-m-d ') }}</td>
                                <td><img src="{{ asset('/uploads/brochures/' ~ i.Image) }}?t={{ date().getTimestamp() }}" alt="image" width="10%"></td>
                                <td>{{ i.Lieu }}</td>
                                <td>{{ i.Description }}</td>
                                <td>{{ i.Type }}</td>
                                <td >{{ i.Prix }}</td>
                                 <td>{{ i.nbParticipant}}</td>
                                 <td>{{ i.Sponsors }}</td>
                                <td>
                                    {% for a in i.getParticipants().toArray() %} 
                                        {{ a.nom }} 
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('deleteEvenement', {id: i.ID}) }}" class="btn btn-danger">supprimer</a>
                                </td>
                                <td>
                                    <a href="{{ path('updateEvenement', {id: i.ID}) }}" class="btn btn-success">mettre a jour</a>
                                </td>
                            </tr>
                        {% endfor %}
                              </tbody>
                
                           <td> <a class="btn btn-outline-success" href="/Evenement/add1">Ajouter evenement </a></td>
                          <td> <a class="btn btn-outline-success"  href="/Sponsor/add"> ajouter Sponsor </a> </td>
                          <td> <a class="btn btn-outline-success"  href="/Evenement/afficher"> Retour</a> </td>
                       
                 </table>
              
              
                    <ul>
                   <i class="mdi mdi-playlist-play"><a href="{{ path('order_By_nom')}}">Trie par Nom</a></i>   
                   <i class="mdi mdi-playlist-play"><a href="{{ path('order_By_type')}}">Trie par type</a></i> 
                    <i class="mdi mdi-playlist-play"><a href="{{ path('order_By_date')}}">Trie par date</a></i>   
                        
                    </ul>
                </li>
            </div>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}
