{% extends 'baseback.html.twig' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>

                </br>
                   
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>id</th>
                           
                            <th>Cours</th>
                             <th>Disponibilte</th>
                             <th>img</th>
                             <th>Modifier</th>
                             <th>Supprimer </th>
                              <th>Liste des rendez_vous pour chaque cours </th>


                            
                          </tr>
                        </thead>
                        <tbody>
                        
                        {% for a in Coaching %}
                          <tr>
                            <td>{{a.id }}</td>
                           
                            <td> {{a.Cours  }} </td>


                             <td> {{a.dispoCoach }} </td>
                             
                              <td><img src="{{ asset('/uploads/coach/' ~ a.imgCoach) }}?t={{ date().getTimestamp() }}" alt="image"  width = "10%"></td>
                              

                            <td><a href="{{ path('updatecoach', {id:a.id}) }}" class="btn btn-primary" >Modifier</a></td>
                            <td><a href="{{ path('deletecoach', {id:a.id}) }}" class="btn btn-danger" >Supprimer</a></td>
						   	        <td> <a href="{{ path('listerdv', {id:a.id}) }}" class="btn btn-success"> liste des Rendez_Vous pour {{a.Cours}} <i class="fa fa-arrow-circle-right"></i></a></td>

                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                      </br>
                       <p class="card-description">  <code> <a href="{{ path('addcoach') }}" class="btn btn-warning" >Ajouter une séance</a></code>
                    </p>
                    
              <p class="card-description">  <code> <a href="{{ path('stat') }}" class="btn btn-warning" >Statistique</a></code>
                 <input type="text" id="search_term" class="form_control" placeholder="Search">

                    </div>
                  </div>
                </div>


 <script>
        // Fonction de recherche Ajax
        function search() {
            // Récupérer le terme de recherche à partir du champ de recherche
            var term = $('#search_term').val();

            // Envoyer une requête Ajax à la route de recherche
            $.ajax({
                url: "/ajax",
                method: "GET",
                data: { term: term },
                success: function(results) {
                    // Effacer les résultats précédents
                    $('#search-results').empty();

                    // Ajouter les résultats à la liste de résultats
                    for (var i = 0; i < results.length; i++) {
                        $('#search-results').append('<li>' + results[i].title + '</li>');
                    }
                }
            });
        }

        // Lancer la recherche lorsqu'une touche est tapée dans le champ de recherche
        $('#search_term').on('keyup', function() {
            search();
        });
    </script>
{% endblock %}