{% extends 'basefront.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
</head>

<!-- SECTION -->
		<div class="section">
			<!-- container -->
							{%for i in Coaching%}

			<div class="container">
				<!-- row -->

				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{ asset('/uploads/coach/' ~ i.imgCoach) }}?t={{ date().getTimestamp() }}" alt="image"  width = "5%">
							</div>
							<div class="shop-body">
								<h3>{{i.Cours}}</h3>
								<a href="{{ path('detaille', {id:i.id}) }}" class="cta-btn"> Détailles <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					
					

					<!-- /shop -->

{%endfor%}
			</div>
				</div>
				<!-- /row --> 
			<!-- /container -->
				
		</div>
		<!-- /SECTION -->
	

{% endblock %}

{% block footer %}

{% endblock %}






