{% extends 'basecoach.html.twig' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>

                </br>
                    <form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
<input type="search" id="myInput" class="form-control pl-6" placeholder="Search séance de coaching" />
          
            </form>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>id</th>
                           
                            <th>Cours</th>
                            <th>Disponibilte</th>

                             <th>img</th>
                             <th>Modifier</th>
                             <th>Supprimer </th>
                              <th>Liste des rendez_vous pour chaque cours </th>



                            
                          </tr>
                        </thead>
                        <tbody id="myTable">
                        
                        {% for a in Coaching %}
                          <tr>
                            <td>{{a.id }}</td>
                           
                            <td> {{a.Cours  }} </td>



                             <td> {{a.dispoCoach }} </td>
                             
                              <td><img src="{{ asset('/uploads/coach/' ~ a.imgCoach) }}?t={{ date().getTimestamp() }}" alt="image"  width = "10%"></td>
                              

                            <td><a href="{{ path('updatecoach', {id:a.id}) }}" class="btn btn-primary" >Modifier</a></td>
                            <td><a href="{{ path('deletecoach', {id:a.id}) }}" class="btn btn-danger" >Supprimer</a></td>
						   	        <td> <a href="{{ path('listerdv', {id:a.id}) }}" class="btn btn-success"> liste des Rendez_Vous pour {{a.Cours}} <i class="fa fa-arrow-circle-right"></i></a></td>

                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                      </br>
                       <p class="card-description">  <code> <a href="{{ path('addcoach') }}" class="btn btn-warning" >Ajouter une séance</a></code>
                    </p>
                    
              <p class="card-description">  <code> <a href="{{ path('RendezVous_statistics') }}" class="btn btn-warning" >Statistique</a></code>

                
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
              <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

                    </div>
                  </div>
                </div>
                


{% endblock %}


{% block notify %}
   
<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                                    {% for i in notif %}

                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle" >
                        <i class="mdi mdi-calendar text-success" ></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                    
                      <p class="preview-subject mb-1">{{i.message}}</p>
                      <p class="text-muted ellipsis mb-0" > un Rendez_Vous a été ajouter </p>
                    </div>
                  </a>
                 {% endfor %}
                  <p class="p-3 mb-0 text-center" f r>voir tous les notifications</p>
                </div>

{% endblock %}