{% extends 'basefront.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}

					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Coaching</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								
							</div>
							<div class="order-products">
								
								
							</div>
							
							

							
                         
                             <div class="order-col">
								<div> Disponibilte du Coach </div>
                                <div>{{Coaching.dispoCoach}}</div>
							</div>
                             <div class="order-col">
								<div> Image du Coach </div>
                                <div>    <td><img src="{{ asset('/uploads/coach/' ~ Coaching.imgCoach) }}?t={{ date().getTimestamp() }}" alt="image"  width = "50%"></td>
</div>
							</div>
                            <div class="order-col">
								<div> Cours </div>
                                
								<div><strong class="order-total"><div>{{Coaching.Cours}}</div></strong></div>
							</div>
						</div>
                        
						
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								
								
							</div>

						<a href="{{ path('addrdv2', {id:Coaching.id}) }}" class="primary-btn order-submit">Réserver votre Coach</a>
						
						<div class="modal white falling" id="modale-contact">
		
	</div>
					</div>
                    <div>
     

{% endblock %}

{% block footer %}

{% endblock %}

