{% extends 'basefront.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}

					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Coaching</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								
							</div>
							<div class="order-products">
								
								
							</div>
							
                                   
							
							
                         
                             <div class="order-col">
								<div> Disponibilte du Coach </div>
                                <div>{{Coaching.dispoCoach}}</div>
							</div>
                             <div class="order-col">
								<div> Image du Coach </div>
                                <div>    <td><img src="{{ asset('/uploads/coach/' ~ Coaching.imgCoach) }}?t={{ date().getTimestamp() }}" alt="image"  width = "50%"></td>
</div>
							</div>
                            <div class="order-col">
								<div> Cours </div>
                                
								<div><strong class="order-total"><div>{{Coaching.Cours}}</div></strong></div>
							</div>
						</div>
                        
						
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								
								
							</div>

						<a href="{{ path('addrdv2', {id:Coaching.id}) }}" class="primary-btn order-submit">Réserver votre Coach</a>
						
						<div class="modal white falling" id="modale-contact">
		<div class="modal-header">Contacter l'annonceur</div>
		
	</div>
					</div>
                    <div>
     

{% endblock %}

{% block footer %}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
	<script>
		window.onload = () => {
			document.querySelector("#annonce_contact_title").value = "{{ annonce.title|raw }}";
			// On met un écouteur d'évènements sur tous les boutons répondre
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
		let caroulix = new Caroulix('#carousel');
		let modal = new Modal('#modale-contact');
	</script>
{% endblock %}