{% extends 'basefront.html.twig' %}

{% block title %}Register{% endblock %}
{% block topheader %}
{% include 'test.html.twig' %}

{% endblock %}

{% block body %}
 <div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Modifier Profile</h3>
							</div>
                           
							{{ form_start(formedit, {'attr': {'id': 'new_edit_utilisateur'}}) }}

							 {# {{ form_start(registrationForm}} #}
                             	<div >
                    {{ form_row(formedit.nom , {'label':'nom','attr':{'placeholder':'nom' , 'class':'input'}})}}
							</div>
							<div >
                    {{ form_row(formedit.prenom , {'label':'prenom','attr':{'placeholder':'prenom' , 'class':'input'}})}}
							</div>
                         
						<div >	
                        {{ form_row(formedit.email , {'label':'email','attr':{'placeholder':'user@gmail.com' , 'class':'input'}})}}

							</div>

					
					
               
						


						
							
								<div class="form-group">
						
									
                             {{ form_row(formedit.Image, { 'label':'image','attr':{  'class':'file'} }) }}
										
							</div>
							   <button type="submit" class="btn btn-primary" >Register</button>
							
									
								</div>
							</div>
						</div>

                        </div>
                        </div>
                        </div>
                        </div>
                            {{ form_end(formedit) }}

					
{% endblock %}
