{% extends 'basefront.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block topheader %}


{% endblock %}
{% block body %}
<form method="post">
 <div class="imgcontainer">
      <img src="/img/user.png" alt="Avata1" class="avatar1">
    </div>
    <div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="uname" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="psw" autocomplete="current-password" required>
     <button type="submit" style="  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

{#     
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}
{# 
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div> #}
    
<br>
{# 
    <button class="primary-btn" type="submit">
        Sign in
           </button>  #}
           
            S'incrire? <a href="{{ path('app_register') }}"  class="btn btn-warning" style="margin-right: 500px; font-size: 1.2em;"> Sign Up</a>
                    Mdp oubliée? <a href="/email1"  class="btn btn-danger" style=" font-size: 1.2em;"> Forget Password</a>


 
</form>
        </div>

{% endblock %}
